<h4>{{errorMessage}}</h4>

<form action="/signup" method="post">

    <label for="username">Username:
        <input type="text" name="username">
    </label>

    <label for="password">Password:
        <input type="password" name="password">
    </label>

    <button type="submit">
        Signup
    </button>

</form>

<style>
    form {
        display: grid;
        place-items: center;
    }
</style>